*{box-sizing:border-box;margin:0;padding:0}
body{font-family:Inter, "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial;}

.navbar{
    background-color: #3b2a1a;
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 0;
    color: #b09146;
    height: 4.8rem;

}
.logo{
    width: 56px;
    height: 56px;
    padding-right: 2rem;
}
.mlogo{
    background-image: url(msproductslogo.png);
    width: 56px;
    height: 56px;
    background-size: contain;
}
a{
    text-decoration: none;
    color: #b09146;
    font-weight: bolder;
}
.name{
    padding-right: 20px;
}
.scan{
    background-color: #f3e8d2;
    height: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.qr{
    background-color: #f3e8d2;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.qr1{
    height: 25rem;
    width: 60rem;
    display: flex;
    
    justify-content: center;
    justify-items: center;
   
    
    
}
.qr2{
    width:200px ;
    height: 200px;
    background-image: url(scanner.jpg);
    background-size: cover;

}
.back{
    height: 20rem;
    background-color: #f3e8d2;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.back2{
    font-size: 20px;
font-weight: bolder;
}
.back3{
    display: flex;
    height: 3rem;
    width: 15rem;
    background-color: #3b2a1a;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    background-color: #3b2a1a;
    color: #f3e8d2;
    align-items: center;
    justify-content: center;
    height: 10rem;

}
.afback{
     background-color: #f3e8d2;
     background-color: #f3e8d2;
    height: 15rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.af1{
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: dotted;
    
}
